// COLORS
$color-dark-1: #2B293D;
$color-dark-2: #33304f;
$color-white: #fff;
$color-gray-1: rgb(217, 217, 217);
$color-gray-2: #6F6F6F;
$color-gray-3: #A9A9A9;
$color-gray-4: #F1F3F6;
$color-yellow: #FFE047;
$color-error: rgb(200, 0, 0);
$color-selected: #F6FBFF;
$color-blue: #4539B4;
$color-blue-light: #4872C6;
$color-green: #287921;
