<footer class="footer">
    <div class="footer__links">

        <ul class="footer__list">
            <li class="footer__header">Company Info</li>
            <li class="footer__link" (click)="handleClick()">About Us</li>
            <li class="footer__link">Contact Us</li>
            <li class="footer__link">Careers</li>
            <li class="footer__link">FAQs</li>
            <li class="footer__link">Teams of Service</li>
            <li class="footer__link">Privacy Policy</li>
        </ul>
        <ul class="footer__list">
            <li class="footer__header">Help</li>
            <li class="footer__link">Account Support</li>
            <li class="footer__link">Listing Events</li>
            <li class="footer__link">Event Ticketing</li>
            <li class="footer__link">Ticket Purchase Terms & Conditions</li>
        </ul>
        <ul class="footer__list">
            <li class="footer__header">Categories</li>
            <li class="footer__link">Concerts & Gigs</li>
            <li class="footer__link">Festivals & Lifestyle</li>
            <li class="footer__link">Business & Networking</li>
            <li class="footer__link">Food & Drinks</li>
            <li class="footer__link">Performing Arts</li>
            <li class="footer__link">Sports & Outdoors</li>
            <li class="footer__link">Exhibitions</li>
            <li class="footer__link">Workshops, Conferences & Classes</li>
        </ul>
        <ul class="footer__list">
            <li class="footer__header">Follow Us</li>
            <li class="footer__link">Facebook</li>
            <li class="footer__link">Instagram</li>
            <li class="footer__link">Twitter</li>
            <li class="footer__link">Youtube</li>
        </ul>
        <ul class="footer__list">
            <li class="footer__header">Download The App</li>
            <li class="footer__box">
                <img class="footer__image" src="assets/play-store.png" alt="play store">
                <p class="footer__link">Get it on Google Play</p>
            </li>
            <li class="footer__box">
                <img class="footer__image" src="assets/apple.png" alt="play store">
                <p class="footer__link">Download on App Store</p>
            </li>
        </ul>
    </div>
    <span class="footer__rights">&copy;2023 Eventify. All rights reserved.</span>
</footer>